[[source]]

url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pytest = "*"
pylint = "*"
"autopep8" = "*"
rope = "*"
mock = "*"


[packages]

requests = "*"
websocket-client = "*"
wlf = {git = "https://github.com/WuLiFang/wlf", ref = "cc14b5920fd4ac0260f342c694a8ab5f7c130cab"}
