[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pylint = "*"
"autopep8" = "*"
rope = "*"
mock = "*"
pyside = "*"

[packages]
requests = "*"
websocket-client = "*"
"Qt.py" = "==1.1.0"
wlf = {file = "https://github.com/WuLiFang/wlf/archive/0.3.9.tar.gz"}
