[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pylint = "*"
"autopep8" = "*"
rope = "*"
mock = "*"

[packages]
requests = "*"
websocket-client = "*"
wlf = {ref = "0.5.3", git = "https://github.com/WuLiFang/wlf.git"}
environs = "*"

[requires]
python_version = "3.7"
